body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 90%; /* Make the container full height of the viewport */
}
.image{
    width: 80%;
    height: 90%;
    background-image: url('BusinessCard2.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    
}

.left{
    margin-left: 11%;
}
.right{
    margin-right: 10%;
}

.left, .right{
    margin-top: 13%;
    
    width: 30%;
    height: 48%;

    /*
    border: 2px solid blue;
    */
}


.left a, .right a{
    color: transparent;
    font-size: 5rem;
    
}

@media screen and (max-width: 800px){

    .image{
        height: 26%;
        gap: 24%;
    }
    .left, .right{
        margin-top: 14%;
        
        width: 30%;
        height: 48%;
    }

    .left a, .right a{
        font-size: 1.5rem;
    }

}
@media screen and (max-width: 380px){

    .image{
        height: 20%;
        gap: 76px;
    }
    .left, .right{
        margin-top: 15%;
        
        width: 30%;
        height: 40%;
    }
    
    .left a, .right a{
        font-size: .8rem;
        
    }

}