body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 99.5vh; /* Make the container full height of the viewport */
}
.image{
    width: 80%;
    height: 92%;
    background-image: url('BusinessCard.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.word1{
    color: transparent;
    text-decoration: none; /*No underline*/

    position: absolute;
    
    left: 30%;
    top: 55%;
    transform: translateX(-50%);
}
.word2{
    color: transparent;
    text-decoration: none; /*No underline*/

    position: absolute;
    
    left: 70%;
    top: 55%;
    transform: translateX(-50%);
}